
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* { padding: 0; margin: 0; }

body, html
{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}

p#start
{
  position: relative;
  width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: hwb(189 0% 0%);
  opacity: 0;
  z-index: 1;
  animation: intro 3.8s ease-out;
}

/* APARECE LUEGO DEL FINAL DE LA ANIMACION DE SCROLL*/
.end{
  position: absolute;
  opacity: 0;
  z-index: 1;
  animation: intro 180s infinite;
  animation-delay: 180s;
  top: 400px;
  left: 250px;
}

/* EL FOOTER APARECE AL FINAL DE LA ANIMACION DE SCROLL*/
.endFooter{
  position: absolute;
  opacity: 0;
  z-index: 1;
  animation: intro 180s infinite;
  animation-delay: 180s;
  top: 750px;
  left: 700px;
}

@keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

h1
{
  position: absolute;
  width: 2.6em;
  left: 50%;
  top: 25%;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
  opacity: 0;
  z-index: 1;
  animation: logo 10s ease-out 4s;
}

h1 sub
{
  display: block;
  font-size: 0.3em;
  letter-spacing: 0;
  line-height: 0.8em;
}


@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

/* El scroll en 3D sucede aqui, cambiar el tamaño de fuente y el text-aling para ajustar el texto*/
#titles
{
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 600%;
  text-align: center;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(400px) rotateX(25deg);
}

#titles:after
{
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

#titles p
{
  text-align: justify;
  margin: 0.8em 0;
}

#titles p.center
{
  text-align: center;
}

#titles a
{
  color: #ff6;
  text-decoration: underline;
}

/* VELOCIDAD DEL SCROLL DE PRINCIPIO A FIN */
#titlecontent
{
  position: absolute;
  top: 100%;
  animation: scroll 180s linear 6s;
}

/* ANIMACION DE SCROLL */
@keyframes scroll {
  0% { top: 100%; }
  100% { top: -300%; }
}

/* footer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  font-weight: 400;
}
footer a {
  color: #4ee;
} */


/* BOTON DE SONIDO -------------------------------------------------------------------------------------------------------------------------------------*/
.player {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 920px;
    left: 1820px;
 }

/* AGREGAR TRANSFORMACION AL HACER CLICK*/
  .btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

/* BOTONES DE DISNEY Y F5 -------------------------------------------------------------------------------------------------------------------------------------*/

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item {
  width: 35%;
  position: relative;
  padding: 15px;
  cursor: pointer;
}

.item__border {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  border-radius: 10px;
  border: 4px solid rgba(249, 249, 249, 0.1);
  transition: transform 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.item__image {
 width: 100%;
 height: 100%;
 border-radius: 5px;
 z-index: 1;
}

.item__image.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  visibility: hidden;
}

.item:hover .item__border {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px, rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
  transform: scale(1.05);
  border: 4px solid rgba(249, 249, 249, 0.8);
}

.item:hover .item__image.hover-image {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 992px) {
  .container2 {
    flex-direction: row;
  }
  .item {
  width: 20%;
  }
}





 