@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: Starjholl;
  src: url(Starjhol.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background: rgb(0, 0, 0);
}
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
body {
  font-family: Starjholl;
}
header {
  display: flex;
  height: 20%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}
.form-contacto {
  color: white;
}
header a {
  color: white;
}
header div {
  display: flex;
  justify-content: center;
}
.enlace-logo {
  display: flex;
  justify-content: center;
  background-size: cover;
}
main {
  background-color: rgba(41, 40, 40, 0.802);
  color: white;
}
main p:first-child{
padding: 30px;
text-align: center;
font-size: 1.5rem;
}
.div-imagen-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.titulo {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Starjholl;
  color: gray;
}
.logoNav {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}

/* Boton Hamburguesa con animacion y transicion*/

#container {
  display: flex;
  width: 18%;
  height: 13%;
  position: absolute;
  margin-top: 13px;
}
#burger {
  display: flex;
  cursor: pointer;
  opacity: 0;
  animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
#burger .bun,
#burger .filling {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 50%;
  transform-origin: 50% 50%;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;
}
#burger .bun:before,
#burger .filling:before,
#burger .bun:after,
#burger .filling:after {
  content: "";
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -45%);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}
#burger .bun:before,
#burger .filling:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}
#burger .bun:after,
#burger .filling:after {
  right: 0;
  width: calc(-1px + 25%);
}
#burger:hover .bun.top:before {
  background: #fee;
  box-shadow: #f00 0px 0px 10px 1px;
}
#burger:hover .bun.bottom:before {
  background: #dff;
  box-shadow: #0ff 0px 0px 10px 1px;
}
#burger:hover .filling:before {
  background: #efe;
  box-shadow: #0f0 0px 0px 10px 1px;
}
#burger .bun.top {
  top: 25%;
}
#burger .bun.bottom {
  top: 75%;
}
#burger .filling {
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  animation: laser-verde-sube 0.8s ease forwards;
}
#burger.active .bun {
  border-radius: 3px;
  top: 50%;
  transition: top 0.4s ease, transform 0.4s ease;
}
#burger.active .bun.top {
  transform: translate(-85%, -50%) rotate(-90deg);
}
#burger.active .bun.bottom {
  transform: translate(-15%, -50%) rotate(90deg);
}
#burger.active .filling {
  transform: translate(-50%, -50%) rotate(-90deg);
  animation: laser-verde-baja 0.8s ease forwards;
}
nav {
  font-family: Starjholl;
  color: white;
  background: #111;
  position: absolute;
  transform: translatex(-300%);
  transition: transform 0.2s ease;
  top: 90px;
  bottom: 0px;
  padding-right: 16px;
  width: 30vw;
  height: 50vh;
  border-radius: 0 5% 5% 0;
  overflow: hidden;
}
nav.show {
  transform: translatex(0%);
  z-index: 1;
  width: 25vw;
  margin-top: 10vh;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  background: #ecfcff;
  box-shadow: #4df 0px 0px 0px 2px;
  font-size: 1.75em;
  line-height: 1.25em;
  margin: 16px 0px;
  width: 0;
  border-radius: 0px 100px 100px 0px;
  transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease,
  text-shadow 0.2s ease;
 
}
nav ul li:hover {
  box-shadow: #4df 0px 0px 20px 2px;
  text-shadow: #4df 0px 0px 6px, #4df 0px 0px 10px;
}
nav ul li:hover {
  width: 100%;
  padding: 20px 16px 0px 0px;
  color: black;
}
nav ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: inherit;
  padding-left: 16px;
}
nav ul li.green {
  background: #e6ffe6;
  box-shadow: #0f0 0px 0px 0px 2px;
}
nav ul li.green:hover {
  box-shadow: #0f0 0px 0px 20px 2px;
  text-shadow: #0f0 0px 0px 6px, #0f0 0px 0px 10px;
}
nav ul li.red {
  background: #ffe6e6;
  box-shadow: #f00 0px 0px 0px 2px;
}
nav ul li.red:hover {
  box-shadow: #f00 0px 0px 20px 2px;
  text-shadow: #f00 0px 0px 6px, #f00 0px 0px 10px;
}
nav ul li.purple {
  background: #fae6fa;
  box-shadow: #c0c 0px 0px 0px 2px;
}
nav ul li.purple:hover {
  box-shadow: #c0c 0px 0px 20px 2px;
  text-shadow: #c0c 0px 0px 6px, #c0c 0px 0px 10px;
}
nav ul li.yellow {
  background: #ffffe6;
  box-shadow: #ff0 0px 0px 0px 2px;
}
nav ul li.yellow:hover {
  box-shadow: #ff0 0px 0px 20px 2px;
  text-shadow: #ff0 0px 0px 6px, #ff0 0px 0px 10px;
}
nav ul li.blue {
  background: #ffffe6;
  box-shadow: blue 0px 0px 0px 2px;
}
nav ul li.blue:hover {
  box-shadow: blue 0px 0px 20px 2px;
  text-shadow: blue 0px 0px 6px, blue 0px 0px 10px;
}
@keyframes laser-verde-baja {
  0% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}
@keyframes laser-verde-sube {
  0% {
    transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fin de Boton Hamburguesa */

/* Cards Videojuegos */
.contenedor-card {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding-top: 5%;
  padding-bottom: 10%;
}
.contenedor-card .card {
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 7px 7px rgba(255, 255, 255, 0.459);
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
  margin: 20px 10px 20px;
  color: white;
}
.contenedor-card .card:hover {
  transform: translateY(-15px);
  box-shadow: #0f0 0px 0px 20px 2px;
}
.contenedor-card .card img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 75%;
  border-radius: 2%;
}

/* Fin de Cards Videojuegos */

/* Card Index */
.contenedor-card-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: auto;
  padding: 50px;
}
.contenedor-card-index .card-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 7px 7px rgba(255, 255, 255, 0.459);
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
  margin: 20px 10px 20px;
  color: white;
  font-size: 2rem;
}

.contenedor-card-index .card-index:hover:nth-child(odd) {
  transform: translateY(-15px);
  box-shadow: rgb(240, 0, 0) 0px 0px 20px 2px;
}
.contenedor-card-index .card-index:hover:nth-child(even) {
  transform: translateY(-15px);
  box-shadow: rgb(240, 0, 208) 0px 0px 20px 2px;
}

.contenedor-card-index .card-index img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  object-fit: contain;
  object-position: left;
  height: 100%;
}


/* fin de cards Index */
.contenedor {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.textForm {
  font-family: "Montserrat Alternates", sans-serif;
}

.mapa {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.rob1 {
  border-radius: 5%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  margin: 20px;
  font-family: Starjholl;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
}
.contenedor-footer-pages {
  display: flex;
  flex-direction: column;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.footer-pages {
  color: white;
}
/* Alerta para formularios */
.alertas{
  width: 150px;
  text-align: center;
  margin: auto;
  color: #f00;
  padding-top: 30px;
}


/* Dispositivos Extra grandes mas de 1440px de ancho */
@media (min-width: 1440px) {
  .contenedor {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .mapa {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  nav.show {
    transform: translatex(0%);
    z-index: 1;
    width: 18vw;
    margin-top: 10vh;
  }
}
/* Dipositivos Medianos */
@media (max-width: 992px) {
  .contenedor {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .mapa {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  nav.show {
    transform: translatex(0%);
    z-index: 1;
    width: 35vw;
    margin-top: 10vh;
  }
}

/* Dispositivos chicos */
@media (max-width: 576px) {
  header{
    height: 8vh;
  }
  nav {
    font-family: Starjholl;
    color: white;
    background: #111;
    position: absolute;
    transform: translatex(-300%);
    transition: transform 0.2s ease;
    width: 45vw;
    height: 35vh;
    border-radius: 0 5% 5% 0;
    font-size: 0.5rem;
  }
  nav.show {
    transform: translatex(0%);
    z-index: 1;
    width: 45vw;
    height: 35vh;
    margin-top: 0px;
    font-size: 0.5rem;
  }

  .mapa {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .div-imagen-error img {
    width: 80%;
  }
  #container {
    display: flex;
    width: 15%;
    height: 10%;
    position: absolute;
    margin-top: 25px;
  }
  #burger {
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    animation: fadein 0.2s ease 1s forwards;
    overflow: hidden;
    width: 100%;
    height: 90%;
    position: relative;
  }
  .contenedor-footer-pages {
    display: flex;
    flex-direction: column;
    
    padding: 0px;
  }
}
